.DS_Store
media/*
!media/tests.png
!media/tests.jpg
*/CACHE/*
static
build/*
*.pyc
*.pyo
*.so
*~
*.db
local_settings.py
settings_local.py
*.jpg.*
*.tmproj
*.sqlite3
*.sqlite
.sass-cache
dump.rdb
static_files/bower/*
node_modules
.mypy_cache
.vscode
